@model IEnumerable<Kudvenkatcorewebapp.Models.Loan.MonthlyLoanInformation>

@{
    ViewData["Title"] = "LoanInformationByLoanID";
}

<h1 class="text-capitalize">LoanInformation</h1>

<p>
    <a asp-action="Index" class="btn btn-danger">BACK</a>
</p>

<table class="table table-striped text-sm-center font-weight-bold mx-auto">
    <thead class="bg-info text-black">
        <tr class="table-info">
            <th>
               LoanID
            </th>
            <th>
                Emi-Amount
            </th>
            <th>
               PaidEmi
            </th>
            <th>
               Month
            </th>
            <th>
              Year
            </th>
            <th>
               Loan Paid Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthEmiAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPaidEmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanEndDate)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
