@model Kudvenkatcorewebapp.ViewModels.Sangh.DashBoardViewModel




@{
    ViewData["Title"] = "LoanDashBoard";
}

<div class="bg-gradient">

    <div class="row m-0">
        <div class="card col-3 bg-info m-0 border-white shadow-sm">
            <div class="card-body bg-gradient">
                <h6 class="card-title text-capitalize bg-info text-white">Total Collected Loan</h6>
                @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                <h6 class="card-text text-white">Rs:@Model.TotalSumofLoan</h6>
                @*<a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>*@
            </div>
        </div>

        <div class="card col-3 bg-info m-0 border-white shadow-sm">
            <div class="card-body bg-gradient">
                <h6 class="card-title text-capitalize bg-info text-white">Number of Active Loans</h6>
                @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                <h6 class="card-text text-white">@Model.loanEmployees.Count()</h6>
                @*<a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>*@
            </div>
        </div>

        <div class="card col-3 bg-info m-0 border-white shadow-sm">
            <div class="card-body bg-gradient">
                <h6 class="card-title text-capitalize bg-info text-white">Total Loan Amount</h6>
                <h6 class="card-subtitle mb-2 text-white">SepMonth-2022</h6>
                <h6 class="card-text text-white">Rs:@Model.TotalSumofAmount</h6>
                @*<a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>*@
            </div>
        </div>

        <div class="card col-3 bg-info m-0 border-white shadow-sm">
            <div class="card-body bg-gradient">
                <h6 class="card-title text-capitalize bg-info text-white">Total Hand Loan</h6>
                @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                <h6 class="card-text text-white">Rs:@Model.TotalSumofHandloanAmount</h6>
                @*<a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>*@
            </div>
        </div>
    </div>
    <br />


    <div class="row">

        <div class="col-xs-6 col-md-4 ">
            <table class="table table-striped bg-white" style="font-size:small;">
                <thead class="bg-info text-black">
                    <tr class="table-info">
                        <th>LoanDate</th>
                        <th>Intrest Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.loanEmployeesmonthlyintrestcalculate)
                    {
                        <tr>
                            <td>
                                @item.LoanDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.TotalIntrest
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8" style="font-size:small;" @*style="background-color:#f8f9fa;"*@>
            <h3 class=" bg-success shadow-sm text-white">List of Loans</h3>
            <table class="table table-striped text-sm-center mx-auto m-2 bg-white" style="font-size:small;">
                <thead class="bg-info text-black">
                    <tr class="table-info">
                        <th>LoanId</th>
                        <th>Loan Date</th>
                        <th>Name</th>
                        <th>Monthly Emi Amount</th>
                        <th>Total Paid Emi</th>
                        <th>Total Balance Emi</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.loanEmployees)
                    {
                        <tr>
                            <td>@item.LoanID</td>
                            <td>@item.LoanDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.LoanUserName</td>
                            <td>@item.TotalLoanAmount</td>
                            <td>@item.TotalPaidEmi</td>
                            <td>@item.TatlBalanceEmi</td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>



    </div>


    <br />
    <h3 class="m-0 bg-success shadow-sm text-white">List of HandLoans</h3>
    <table class="table table-striped text-sm-center font-weight-bold mx-auto m-2" style="font-size:small;">
        <thead class="bg-info text-black">
            <tr class="table-info">
                <th>Name</th>
                <th>Hand Loan Amount</th>
                <th>Month</th>
                <th>Year</th>
                <th>Intrest</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.handLoans)
            {
                <tr>
                    <td>@item.LoanUserName</td>
                    <td>@item.HandLoanAmount</td>
                    <td>@item.Month</td>
                    <td>@item.Year</td>
                    <td>@item.TotalIntrest</td>


                </tr>

            }
        </tbody>
    </table>

    <br />
    <h3 class="m-0 bg-success shadow-sm text-white">Loan Information of @Model.GetCurrenctMonth</h3>
    <table class="table table-striped text-sm-center font-weight-bold mx-auto m-2" style="font-size:small;">
        <thead class="bg-info text-black">
            <tr class="table-info">
                <th>Monthly Collected Amount</th>
                <th>Total Loan</th>
                <th>Total Balance Amount</th>
                <th>Month</th>
                <th>Year</th>
                <th>Total Intrest</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.monthlyLoanTracks)
            {
                <tr>
                    <td>@item.MonthlyCollectedAmount</td>
                    <td>@item.TotalLoan</td>
                    <td>@item.TotalBalanceAmount</td>
                    <td>@item.Month</td>
                    <td>@item.Year</td>
                    <td>@item.TotalIntrest</td>
                </tr>

            }
        </tbody>
    </table>



</div>